@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f1117;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #161921;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #7209c2;
}
button:focus,
button:focus-visible {
  outline: 4px auto #7209c2;
}

.purple-gradient {
  background: linear-gradient(92deg, #7209c2 2.87%, #747bff 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes aurora {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.animate-aurora:after {
  animation: aurora 60s linear infinite;
}

@layer components {
  /* button */
  .close-button {
    &[type="button"],
    &[type="reset"] {
      @apply outline-none text-lg rounded-full p-1.5 bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 hover:text-gray-800 dark:hover:text-gray-100;
    }
  }

  .button {
    @apply font-bold outline-none whitespace-nowrap content-center;
  }

  .button-press-feedback {
    @apply transition-transform active:scale-[0.98];
  }

  /* dialog */
  .dialog {
    outline: none;
    @apply mx-auto;
  }

  .dialog-content {
    @apply p-6 rounded-2xl shadow-xl mx-4 my-8 sm:mx-0 sm:my-16 relative h-full bg-white dark:bg-gray-800;
  }

  .dialog-overlay {
    transition: all 0.15s ease-in-out;
    @apply inset-0 fixed z-50 bg-black/60 dark:bg-black/80 backdrop-blur-md;
  }

  .dialog-overlay-after-open {
    opacity: 1;
  }

  .dialog-overlay-before-close {
    opacity: 0;
  }

  /* select input */
  .select-control {
    @apply flex 
      items-center 
      justify-between 
      border 
      border-gray-100 
      dark:border-gray-700
      rounded-xl
      transition 
      duration-150;
  }

  .select-control-focused {
    @apply bg-transparent;
  }

  .select-placeholder {
    grid-area: 1 / 1 / 2 / 3;
    @apply font-semibold;
  }

  .select-value-container {
    @apply items-center flex-1 flex-wrap relative overflow-hidden px-3 py-2 gap-y-2;
  }

  .select-input-container {
    @apply inline-grid flex-auto text-gray-800 dark:text-gray-100! font-semibold;
    grid-area: 1/1/2/3;
    grid-template-columns: 0 min-content;
  }

  .select-indicators-container {
    @apply px-3 text-2xl;
  }

  .select-single-value {
    grid-area: 1/1/2/3;
    @apply max-w-full overflow-hidden text-ellipsis whitespace-nowrap text-gray-800 dark:text-gray-100 font-semibold;
  }

  .select-multi-value {
    @apply flex rounded-lg mx-0.5 font-bold border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 text-gray-800 dark:text-gray-100;
  }

  .select-multi-value-label {
    @apply text-xs ltr:pl-2 rtl:pr-2 py-1.5 flex items-center;
  }

  .select-multi-value-remove {
    @apply flex items-center ltr:pr-2 ltr:pl-1 rtl:pr-1 rtl:pl-2;
  }

  .select-menu {
    @apply z-30! bg-white dark:bg-gray-900 rounded-xl my-2 px-2 py-1 min-h-[50px] border ring-1 border-gray-100 ring-gray-100 dark:border-gray-700 dark:ring-gray-700 shadow-[0px_48px_64px_-16px_rgba(0,0,0,0.25)];
  }

  .select-option {
    @apply flex items-center justify-between py-2.5 px-2 font-semibold cursor-default dark:hover:bg-gray-800 rounded-md;
  }

  .select-clear-indicator {
    @apply text-lg px-2 cursor-pointer;
  }

  .select-sm {
    .select-indicators-container {
      @apply px-1;
    }
  }
}
